*{
    margin: 0;
    padding: 0;
}


html, body{
    width: 100%;
    height: 100%;
    
}
 

.scrool_grid_salavotacao{
    max-height: 680px;
    overflow-y: scroll;
}


.hands_papaer{
    width: 50px; height: 50px;
    
}


.curtain_register{
    width: 100%;
    height: 100%;
    background:black;
    border-radius: 4px;
    opacity: 0.65;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 777;
    display: none;
}


.contain_curtain{
    width: 100%;
    height: 100%;
    margin: auto;
    /* background: blue; */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    border-radius: 4px;
    display: none;
}



.sun_contain_curtain{
    border-radius: 4px;
    width: 50%;
    height: 400px;
    margin: auto;
    background:#ffffff;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 2px #cccccc;
    
}


.curtain_relator_down{
    min-height: 30px;
 }



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}



.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    margin-top:10px; 
    margin-left:10px;
}


.scrool_grid_relator{
    overflow-y: scroll;
}






